[core]
	excludesfile = /Users/wangkejie/.gitignore_global

[difftool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxisgitmerge-w.sh \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = true

[user]
	name = kejie.wang
	email = kejiewong@live.com

[alias]
  # Show verbose output about tags, branches or remotes
  st = status
  co = checkout
  br = branch
  ci = commit
  diff = diff --word-diff
  dc = diff --cached
  tags = tag -l
  rh = reset --hard
  branches = branch -a
  remotes = remote -v
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  deleted = log --diff-filter=D --summary
  # Pretty log output
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  last = log -1 --stat
  cp = cherry-pick
  cl = clone
  unstage = reset HEAD --
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all

[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
  remote = origin
  merge = refs/heads/master
